#divListaXixizeros
{
    border-color: #eee;
    border-style: solid;
    float: left;
    padding: 8px;
    width: 80%;
}

#divEscripte
{
    border-color: #eee;
    border-style: solid;
    float: left;
    padding: 8px;
}

#preXixizero
{
    font-size: 14pt;
    background-color: #fcfcfc;
    border-color: #efe;
    border-style: solid;
    width: 100%;
    line-height: 23px;
}

#listaXixizeros li
{
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    font-size: 10pt;
    cursor: pointer;
}

#divResultadoParcial
{
    border-color: #eee;
    border-style: solid;
    padding: 8px;
    float: left;
}

.naoSelecionado
{
    background-color: #fff;
}
.selecionado
{
    background-color: #cfc;
}

#divCopyLink
{
    border-color: #eee;
    border-style: solid;
    text-align: right;
    width: 100%;
}
#spanCopyLink
{
    cursor: pointer;
    text-decoration: underline;
}
#preEscripteCompleto
{
    width: 100px;
    height: 20px;
    font-size: 8pt;
}

.subTituloInterno
{
    padding: 3px;
    font-size: 11pt;
    background-color: #eee;
}
