body
{
    font-size: 1.0em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 20px;
}

/* Custom
-----------------------------------------------------------*/
.menuTodo
{
    width: 910px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    border: 3px solid #DDD;
    background-color: #efefef;
}

.corpo
{
    width: 900px;
    display: inline-block;
    margin: 10px;
}

.menuItem
{
    font-family: Arial;
    font-size: 1.05em;
    text-decoration: none;
    float: left;
    margin: 10px 0 10px 30px;
    padding: 6px;
    height: 20px;
    border-radius: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 18px;
    text-align: center;
    border: 3px solid darkGray;
    border-image: initial;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 0px;
    cursor: pointer;
    background-color: #f8f8f8;
}

.codigo
{
    font-family: Consolas, Courier New;
    font-size: 12pt;
}

textarea, input{
    font-family: Consolas, "Courier New";
    font-size: 12pt;    
}

.textBox input{
    width: 424px;
}
.textAreaMedia textarea{
    width: 424px;
}
.textAreaGrande textarea{
    width: 424px;
    min-height: 424px;
}

.textAreaDados textarea{
    width: 900px;
    min-height: 224px;
}

.preBorda {
    border-color: #ddd;
    border-width: 2px;
    border-style: solid;
    background-color: #fffdfd;
}

td, th {
    padding: 4px;
    border-color: #ddd;
    border-width: 2px;
    border-style: solid;
}

/* <end> Custom
-----------------------------------------------------------*/


header, footer, nav, section
{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
