@{
    ViewBag.Title = "EmeTools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Emetools</h1>
<pre class="codigo">

1 - Javascript script that emulates SED using jsed.
2 - Collections of javascript EmEditor's macros. Simple things like trim, sort and sort distinct are very useful.

------------------
SED - ///s
------------------
Executes SED comand with "-n" modificator
  aaa
  bbb
  ///s
  /b/p
  
  result:
  bbb


------------------
XXX - ///x
------------------
Replaces 'XXX' string with the data 'abc'
  abc
  ///
  [xxx]

  result:
  [abc]

</pre>

