<div style="height: 20px">
    <div style="display: block;float: left"><a href="../Edit/@Model">Editor</a> | </div>
    <div style="display: block;float: left"><a href="../Sequencer/@Model">Sequencer</a></div>
</div>
